.personal-select {
    height: 38px !important;
}

.btn-full-width {
    width: 100% !important;
}

.mt-10 {
    margin-top: 10px;
}

.full-width {
    width: 100%;
}

.modal {
    width: 55% !important;
    height: 55% !important
}

@media screen and (max-width: 600px) {
    .btn {
        margin-top: 10px;
    }

    .modal {
        width: 98% !important;
        height: 98% !important
    }
}