.header {
    background: #2450a1;
/* background: -moz-linear-gradient(90deg, #d53b3d 0%, #d53b3d 71%, rgba(144,0,0,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(213,59,61,1) 0%, #d53b3d 71%, rgba(144,0,0,1) 100%);
background: linear-gradient(90deg, #d53b3d 0%, #d53b3d 71%, rgba(144,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d53b3d",endColorstr="#900000",GradientType=1);
    font-weight: bold; */
}

.sup-header {
    background: #143166;
    color: white;
    padding: 1vh 0 1vh 5vh;
}

/* mobile */
.header #nav-mobile .separator {
    display: none;
}

.header #nav-mobile .page-link * {
    color: #D53B3D;
    font-weight: bold;
    text-transform: uppercase;
}

/* desktop */
.header .separator {
    color: #143166 !important;
    cursor: none;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.header #nav-wrapper .page-link li {
    color: black !important;
}

.header #nav-wrapper .page-link * {
    color: white;
}

/* .header {
    margin-left: 100px;
} */


.logo {
    /* margin-left: 0px !important; */
    position: relative;
    left: -10px !important;
    background: white;
    padding: 10px 5px 5px 10px;
    width: 112px;
    height: 64px;
}

.header #nav-mobile .li-logo {
    text-align: center;
}

.header #nav-mobile .logo {
    width: 80px;
    height: 50px;
}

.mb-4 {
    margin-bottom: 4px;
}

@media screen and (max-width: 600px) {
    .sup-header {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    .sup-header {
        text-align: center;
        margin: 0px;
        padding: 0;
    }

    .sup-header-extra-info {
        visibility: hidden;
    }

    .sup-header-tel-info {
        text-align: center;
        width: 100%;
    }
}

