html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }
header{ height:50px; background:lightcyan; }
footer{ background:PapayaWhip; }

/* Trick: */
body {
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 50px;
}

footer {
  padding: 3px;
  color: #516894;
  border-top: 1px solid #ffffff;
  background: #143166;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  vertical-align: middle;
  text-align: center;
  font-size: 13px;
}