main {
    font-family:arial,helvetica;
}

.subtitle {
    text-transform: uppercase;
    color: #301616;
    font-weight: bold;
    font-family: Segoe UI;
}

.card {
    border-radius: 3.5px;
    box-shadow: 2px 4px 5px silver;
}

.btn-default {
    background: rgb(91, 118, 209);
}

.btn {
    border-radius: 4px;
}

.loader:empty {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    border: 1.1em solid rgba(0, 0, 0, 0.2);
    border-left: 1.1em solid #000000;
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
  }
  
  @keyframes load8 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .error {
    border-bottom: 2px solid red !important;
  }

  .validator-error {
    white-space: pre;
    word-break: normal;
    display: block;
    color: red;
    font-size: 12px;
    margin: 2px 2px 0px 0px;
    position: relative;
    bottom: 15px;
  }

  body {
    overflow: auto !important;
  }